<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="font-family: monospace;text-transform: capitalize;line-height: 13px;">
        <p>mailer : ahad</p>
        <p>mailer email : a@gmail.com</p>
      <div style="padding-bottom: -10px;">
        <p>Message,</p>
        <p style="line-height: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo et enim eligendi assumenda dolore officia provident deserunt magnam, cupiditate quidem?</p>
    
      </div>
    </div>
</body>
</html>